<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-1">Car Price Predictor</h1>
        <form action="/price_prediction" method="POST" class="mt-4">
            <div class="form-group">
                <label for="vin">VIN (Optional):</label>
                <input type="text" class="form-control" id="vin" name="vin">
            </div>
            <div class="form-group">
                <label for="miles1">Miles (If VIN is provided):</label>
                <input type="number" class="form-control" id="miles1" name="miles1">
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="number" class="form-control" id="year" name="year" required>
            </div>
            <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" name="make" required>
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" name="model" required>
            </div>
            <div class="form-group">
                <label for="trim">Trim:</label>
                <input type="text" class="form-control" id="trim" name="trim" required>
            </div>
            <div class="form-group">
                <label for="miles2">Miles (If VIN is not provided):</label>
                <input type="number" class="form-control" id="miles2" name="miles2">
            </div>
            <button type="submit" class="btn btn-primary">Get Price Prediction</button>
        </form>
    </div>
</body>
</html>

